<div class="col-md-4 col-sm-4"></div>
<div class="col-md-7 col-sm-7 comments-content whiteColor">
    <% if (user || comments.length !== 0) { %>
    <h3>留言</h3><hr>
    <% } %>
    <% comments.forEach(function (comment) { %>
    <div class="col-md-12 col-sm-12 comment">
        <div class="col-md-1 col-sm-1">
            <a href="/posts?author=<%= comment.author._id %>"
               title="<%= comment.author.name %> | <%= ({m: '男', f: '女', x: '保密'})[comment.author.gender] %>"
               data-content="<%= comment.author.bio %>"
               data-container="body" data-toggle="popover" data-placement="bottom">
                <img class="small-avatar img-responsive" src="/img/<%= comment.author.avatar %>">
            </a>
        </div>
        <div class="col-md-10 col-sm-10">
            <a class="name" href="/posts?author=<%= comment.author._id %>"><%= comment.author.name %></a>
            &nbsp;&nbsp;
            <span class="text-muted"><%= comment.created_at %></span>
            <div class="main-content"><%- comment.content %></div>
        </div>
        <% if (user && comment.author._id && user._id.toString() === comment.author._id.toString()) { %>
        <div class="col-md-1 delete-btn">
            <a class="text-muted" href="/posts/<%= post._id %>/comment/<%= comment._id %>/remove">删除</a>
        </div>
        <% } %>
    </div>
    <% }) %>

    <% if (user) { %>
    <form method="post" action="/posts/<%= post._id %>/comment">
        <div class="form-group">
            <textarea class="form-control" rows="6" name="content" required></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn comment-btn">留言</button>
        </div>
    </form>
    <% } %>
</div>