<%- include('header') %>

<div class="col-md-12 col-sm-12">
    <div class="col-md-3 col-sm-3"></div>
    <div class="blog-sign whiteColor col-md-6 col-sm-6">
        <h4 class="text-center">修改个人信息</h4>
        <form method="post" enctype="multipart/form-data" action="/users/<%= user._id %>/edit">
            <div class="form-group">
                <label for="name">用户名</label>
                <input type="text" name="name" class="form-control" id="name" value="<%= user.name %>" required>
            </div>
            <div class="form-group">
                <label for="gender">性别</label><br>
                <label class="radio-inline">
                    <input type="radio" name="gender" id="m" value="m">男
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender" id="f" value="f">女
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender" id="x" value="x">保密
                </label>
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" name="password" class="form-control" id="password" required>
            </div>
            <div class="form-group">
                <label for="repassword">确认密码</label>
                <input type="password" name="repassword" class="form-control" id="repassword" placeholder="确认密码" required>
            </div>
            <div class="form-group">
                <label>头像</label>
                <img class="big-avatar img-responsive" src="/img/<%= user.avatar %>" alt="找不到头像">
                <input class="hideInput" type="file" name="avatar" id="fileInput">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn select-btn" id="selectInput" data-toggle="tooltip" data-placement="top" data-original-title="请选择文件">选择文件 </button>
                    </div>
                    <span class="form-control" id="selectInputTips"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="bio">个人简介</label>
                <textarea class="form-control" rows="4" name="bio" id="bio" required><%= user.bio %></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn blog-btn">提&nbsp;&nbsp;交</button>
            </div>
        </form>
    </div>
    <div class="col-md-3 col-sm-3"></div>
</div>

<script type="text/javascript">
    $(function () {
        Bind($("#selectInput"),$("#fileInput"),$("#selectInputTips"));

        function Bind(click, hideInput, showTips) {
            click.click(function() {
                hideInput.click();
            });
            hideInput.change(function() {
                var file = hideInput.get(0).files[0];
                if (!file) showTips.text("未选择文件");
                else showTips.text(file.name);
            });
        }

        $("input[name='gender']").each(function () {
            if($(this).val() === '<%= user.gender %>'){
                $(this).attr("checked", "checked");
            }
        })
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<%- include('footer') %>